body{ background: url(images/nza_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;} 

  /* class = dot; id = hash */

.container-fluid { 
  margin: 50px 10px 10px 25px;
  height:100vh;
  display:grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 20px 50px 25px 300px 100px;  */
  /* grid-template-rows: 1fr 1fr 1fr 0.4fr 4fr; */
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "login-nav"
    "logo-area"
    "true-nav"
    "content"
    "footer";
  background-color:white ;
}

.top {
  grid-area: logo-area;
}

#logo { 
  padding: 5px;
}

#login-btn {
  margin-top: 50px; 
  background-color: rgb(146,52,47);
  color: white;
}

.true-nav { 
  grid-area: true-nav;
}

#nav{
  border: 1px solid;
  border-bottom: 0;
  border-left: 0;
  border-right:0;
  border-top:1px
}

#main { 
  grid-area: content;
}

#content {
  padding: 15px;
}

.img {
  /* width: 100%; */
  min-width: 100%;
  /* : center;*/
} 

.footer{
  grid-area: footer;
  border: 1px solid;
  border-bottom: 0;
  border-left: 0;
  border-right:0;
}

#footer-container {
  text-align: center;
}

#contact-group {
  background: url(images/nav_side.jpg) ; 
  color: white;
  margin: 5px;
  padding: 10px;
  font-size: 14px;
}

#footlinks{
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color:blue;
}

a:visited {
  text-decoration: none;
  color: rgb(146,52,47);
}

a:hover {
  text-decoration: none;
  font-size: 20px;
}

a:active {
  text-decoration: none;
}

.cr {
  font-size: 12px;
}